<?xml version="1.0" encoding="utf-8"?>
<!--
Bu dosya, Web projenizin yayımlama/paket işlemi tarafından kullanılıyor. MSBuild dosyasını düzenleyerek
bu işlemin davranışını düzenleyebilirsiniz. Bununla ilgili daha fazla bilgi edinmek için https://go.microsoft.com/fwlink/?LinkID=208121 adresini ziyaret edin. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8a3797cf-143a-4723-bf86-b273b7f6ee5a/resourceGroups/TaxiAppWebApi/providers/Microsoft.Web/sites/TaxiAppWebApi20210423191539</ResourceId>
    <ResourceGroup>TaxiAppWebApi</ResourceGroup>
    <ApiResourceId>/subscriptions/8a3797cf-143a-4723-bf86-b273b7f6ee5a/resourceGroups/TaxiAppWebApi/providers/Microsoft.ApiManagement/service/TaxiAppWebApiapi/apis/TaxiAppWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://taxiappwebapi20210423191539.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>be368942-4fa9-4c48-8420-20dd39ea52f6</ProjectGuid>
    <MSDeployServiceURL>taxiappwebapi20210423191539.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TaxiAppWebApi20210423191539</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TaxiAppWebApi20210423191539</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>